#content {
    background-color: #fff;
    min-height: 650px;
    padding-top: 20px;
    @include clearfix;
    .content {
        position: relative;
        margin-bottom: 30px;
        z-index: 1;
        &.left {
            position: relative;
            float: left;
            width: 100%;
            background-color: transparent;
            @media (min-width: 768px) {
                min-height: 500px;
            }
            @media (min-width: 992px) {
                width: 612px;
            }
            @media (min-width: 1200px) {
                width: 812px;
            }
            @media (max-width: 991px) {
                float: none !important;
            }
        }
        &.global {
            clear: both;
        }
    }
    .sidebar {
        width: 300px;
        display: block;
        float: right;
        margin-bottom: 30px;
        @media (max-width: 991px) {
            display: block !important;
            float: none;
            margin: 10px auto;
        }
    }
}