@mixin font($size:15px, $font:$brand-font, $weight:100) {
    font: {
        family: $font;
        weight: $weight;
        size: $size;
    }
}

@mixin unstyled-list {
    padding: 0;
    list-style: none;
}

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}