.related-container {
    background-color: #000;
    padding: 30px 20px 21px 20px;
    color: #fff;
    position: relative;
    margin-left: -15px;
    margin-bottom: 30px;
    .related-title {
        @include font($size: 22px, $weight: 100);
        margin-top: 0;
        span {
            font-weight: 700;
        }
    }
    &+.all-quotes-filter-container {
        margin-top: -30px;
    }
}

.related-blocks {
    @include unstyled-list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    .related-wrap-link {
        margin-bottom: 9px;
        margin-right: 9px;
    }
    .related-link {
        @include font($weight: 700);
        padding: 2px 6px;
        background-color: $brand-primary;
        color: #fff;
        position: relative;
        display: block;
        min-height: 25px;
    }
    .btn-tag-more {
        width: 25px;
        height: 25px;
    }
    .storyzy-icon-tag-plus:before {
        content: "+";
        font-size: 23px;
        position: absolute;
        top: -5px;
        left: 7px;
    }
    .storyzy-icon-tag-moins:before {
        content: "-";
        position: absolute;
        top: -11px;
        left: 7px;
        font-size: 31px;
    }
}