.storyzy-quizz {
    color: #000;
    width: 100%
}

.storyzy-quizz-main-body {
    padding: 40px 80px;
    padding-bottom: 0;
    width: auto;
    direction: rtl;
    text-align: left
}

.storyzy-quizz-body {
    direction: ltr;
    width: 100%
}

.storyzy-main-align {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 50px)
}

.storyzy-quizz-title {
    color: $brand-primary;
    text-align: left;
    width: 100%
}

.storyzy-quizz-quote-text {
    margin-bottom: 20px;
    font-style: italic;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300
}

.storyzy-quizz-next-container {
    align-items: flex-start;
    padding: 0 40px;
    padding-bottom: 10px
}

.storyzy-quizz-next-text {
    padding: 5px 15px;
    font-weight: 600;
    display: inline-block;
    color: $grey-dark;
    font-weight: 900;
    font-size: 16px
}

.storyzy-quizz-next-text.storyzy-quizz-disabled,
.storyzy-quizz-next-text.storyzy-quizz-disabled:hover {
    opacity: .5;
    cursor: default
}

.storyzy-quizz-next-text.enabled {
    cursor: pointer;
    background-color: rgba(252, 234, 8, 0.8)
}

.storyzy-quizz-next-text.enabled:hover {
    cursor: pointer;
    background-color: rgba(252, 234, 8, 1)
}

.storyzy-quizz-answers-proposals {
    padding: 0 40px;
    padding-bottom: 10px
}

.storyzy-quizz-answer {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #FFF;
    padding: 5px;
    cursor: pointer
}

.storyzy-quizz-answer>div {
    font-size: 15px;
    font-weight: 900
}

.storyzy-quizz-answer-button {
    margin-right: 10px;
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 3px 7px;
    cursor: pointer;
    float: left;
    color: $grey-dark;
    background-color: #fff
}

.storyzy-quizz-answer.storyzy-quizz-disabled .storyzy-quizz-answer-button {
    cursor: default
}

.storyzy-quizz-answer-text {
    overflow: hidden
}

.storyzy-quizz-answer.enabled:hover {
    background-color: rgba(252, 234, 8, 0.4)
}

.storyzy-quizz-answer.selected,
.storyzy-quizz-answer.selected:hover {
    background-color: rgba(252, 234, 8, 0.6);
    border: 1px solid rgba(252, 234, 8, 1)
}

.storyzy-quizz-answer.storyzy-quizz-disabled,
.storyzy-quizz-answer.storyzy-quizz-disabled:hover {
    cursor: default
}

.storyzy-quizz-answer.correct,
.storyzy-quizz-answer.correct:hover {
    background-color: transparent;
    border-color: $correct-color;
    cursor: default;
    color: #FFF
}

.storyzy-quizz-answer.incorrect,
.storyzy-quizz-answer.incorrect:hover {
    background-color: transparent;
    border-color: $incorrect-color;
    cursor: default;
    color: #FFF
}

.storyzy-quizz-hint-text a {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none
}

.storyzy-quizz-quote-image {
    border: 0;
    background-size: 33px 30px;
    background-repeat: no-repeat;
    width: 33px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
    margin-top: 10px
}

.storyzy-quizz-title-text {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px
}

.storyzy-quizz-title-text-result {
    text-align: center
}

.storyzy-quizz-subtitle-text {
    font-size: 15px;
    font-weight: 300
}

.storyzy-quizz-more-quotes-container {
    padding: 0 20px;
    margin-bottom: 25px;
    overflow: hidden;
    font-weight: 300
}

.storyzy-quizz-more-quotes-speakers>a {
    text-decoration: none;
    color: #FFF;
    float: left
}

.storyzy-quizz-more-quotes-speakers>a:hover {
    text-decoration: none;
    color: $brand-primary
}

.storyzy-quizz-hint-text>a:hover {
    text-decoration: none;
    color: $brand-primary
}

.storyzy-quizz-more-quotes-title {
    font-weight: 600;
    margin-bottom: 5px
}

.storyzy-separator {
    margin: 0 5px;
    float: left
}

.storyzy-quizz-more-quotes-speakers {
    font-size: 16px
}

.storyzy-quizz-container {
    width: 100%
}

.storyzy-quizz-quote-container {
    width: 100%;
    margin: 0 auto
}

.storyzy-quizz-result {
    width: 100%
}

.storyzy-quizz-result-score-main-container {
    text-align: center;
    width: 100%;
    margin: 0 auto
}

.storyzy-quizz-result-score-text {
    font-weight: 600;
    font-size: 24px;
    color: $correct-color
}

.storyzy-quizz-result-score-container {
    margin-bottom: 20px
}

.storyzy-quizz-result-score-main-container {
    height: 30px;
    width: 100%
}

.storyzy-quizz-bar-container {
    background-color: rgba(1, 253, 78, 0.25);
    height: inherit;
    border-radius: 16px;
    border: 1px solid $correct-color;
    position: relative
}

.storyzy-quizz-bar {
    background-color: $correct-color;
    height: inherit;
    color: #266e68;
    font-weight: 600;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 0;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0
}

.storyzy-quizz-bar-text {
    z-index: 1;
    position: relative;
    color: #FFF
}

.storyzy-quizz-average-score {
    position: absolute;
    margin-top: 10px;
    text-align: right;
    line-height: 15px
}

.storyzy-quizz-average-score-text {
    white-space: nowrap
}

.storyzy-quizz-pagination {
    vertical-align: middle;
    margin-left: 20px
}

.storyzy-quizz-pagination-dot-container {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.3)
}

.storyzy-quizz-pagination-dot-container.current {
    border: 1px solid $brand-primary
}

.storyzy-quizz-pagination-dot {
    width: 5px;
    height: 5px;
    border-radius: inherit;
    margin: 0 auto
}

.storyzy-quizz-pagination-dot.current {
    background-color: $brand-primary;
    top: 50%;
    position: relative;
    margin-top: -2.5px;
    left: 50%;
    margin-left: -2.5px
}

.storyzy-quizz-pagination-dot-container.visited {
    cursor: pointer
}

.storyzy-quizz-pagination-dot-container.correct {
    border: 1px solid $correct-color
}

.storyzy-quizz-pagination-dot-container.visited.correct {
    background-color: $correct-color
}

.storyzy-quizz-pagination-dot.correct {
    background-color: $correct-color
}

.storyzy-quizz-pagination-dot-container.incorrect {
    border: 1px solid $incorrect-color
}

.storyzy-quizz-pagination-dot-container.visited.incorrect {
    background-color: $incorrect-color
}

.storyzy-quizz-pagination-dot.incorrect {
    background-color: $incorrect-color
}

.storyzy-quizz-answer-button-correct {
    color: #FFF
}

.storyzy-quizz-answer-button-incorrect {
    color: #FFF
}

.storyzy-quizz-answer-button-answer-correct-container {
    padding: 3px 5px;
    color: #FFF;
    background-color: $grey-dark;
    border: 1px solid $grey-dark
}

.storyzy-quizz-answer-button-answer-incorrect-container {
    padding: 3px 7px;
    color: #FFF;
    background-color: $grey-dark;
    border: 1px solid $grey-dark
}

.storyzy-quizz-hint-footer {
    float: left;
    padding: 0 80px
}

.storyzy-quizz-footer {
    padding-bottom: 40px
}

.storyzy-quizz-footer-result-margin-top {
    margin-top: 100px
}

@media screen and (max-width: 767px) {
    .storyzy-quizz-container {
        width: 100%
    }
    .storyzy-quizz-main-container {
        width: 100%;
        padding: 0;
        margin: 0
    }
    .storyzy-quizz-row {
        background-image: none;
        padding: 0;
        margin: 0
    }
    .storyzy-quizz-container {
        padding: 0
    }
    .storyzy-quizz-main-body {
        padding: 20px;
        padding-bottom: 0
    }
    .storyzy-quizz-title {
        padding: 20px;
        padding-bottom: 0
    }
    .storyzy-quizz-answer>div {
        font-size: 13px
    }
    .storyzy-quizz-title-text {
        font-size: 17px;
        font-weight: 900
    }
    .storyzy-quizz-quote-text {
        font-size: 15px;
        line-height: 20px
    }
    .storyzy-quizz-answers-proposals,
    .storyzy-quizz-next-container {
        padding: 0;
        padding-bottom: 10px
    }
    .storyzy-quizz-hint-footer {
        padding: 0
    }
    .storyzy-quizz-hint-text {
        padding-left: 20px
    }
    .storyzy-quizz-hint-text a {
        font-size: 15px
    }
    .storyzy-quizz-footer {
        padding-bottom: 20px
    }
    .storyzy-quizz-quote-image {
        margin-top: 0;
        width: 22px;
        height: 20px;
        background-size: 22px 20px
    }
}

.storyzy-quizz-container,
.storyzy-quizz-quote-container-left,
.storyzy-quizz-quote-container-right {
    width: 100%
}

.storyzy-quizz-row {
    background-image: none;
    padding: 0;
    margin: 0
}

.storyzy-quizz-container {
    padding: 0
}

.storyzy-quizz-main-body {
    padding: 20px;
    padding-bottom: 0
}

.storyzy-quizz-title {
    padding: 20px;
    padding-bottom: 0
}

.storyzy-quizz-title-text {
    font-size: 17px;
    font-weight: 900
}

.storyzy-quizz-quote-text {
    font-size: 15px;
    line-height: 20px
}

.storyzy-quizz-answers-proposals,
.storyzy-quizz-next-container {
    padding: 0;
    padding-bottom: 10px
}

.storyzy-quizz-hint-footer {
    padding: 0
}

.storyzy-quizz-hint-text {
    padding-left: 20px
}

.storyzy-quizz-hint-text a {
    font-size: 15px
}

.storyzy-quizz-footer {
    padding-bottom: 20px
}

.storyzy-quizz-quote-image {
    margin-top: 0;
    width: 22px;
    height: 20px;
    background-size: 22px 20px
}

.storyzy-quizz-answer>div {
    font-size: 13px
}


/* CUSTOM */

.storyzy-quizz-title-text {
    color: #000;
}

.storyzy-quizz-subtitle-text {
    color: $grey-dark;
}

.storyzy-quizz {
    position: relative;
    @include font($font: 'Oxygen');
    border: 1px solid $grey-light;
}

.storyzy-quizz-quote-image {
    position: relative;
    &:before {
        @include font($font: 'Oxygen', $size: 50px, $weight: 100);
        content: "“";
        top: 0;
        left: 0px;
        position: absolute;
        line-height: 40px;
        height: 40px;
        color: $grey-dark;
    }
}

.storyzy-quizz-title-text {
    font-size: 26px;
    line-height: 1.2;
}

.storyzy-quizz-pagination-dot-container {
    background: $grey-light;
}

.storyzy-quizz-answer {
    border: 1px solid $grey-dark;
    &:not(.correct),
    &:not(.incorrect) {
        .storyzy-quizz-answer-text {
            color: $grey-dark;
        }
    }
    &.correct,
    &.incorrect,
    &.correct:hover,
    &.incorrect:hover {
        .storyzy-quizz-answer-text {
            color: $grey-dark;
        }
    }
    &.correct,
    &.correct:hover {
        .storyzy-quizz-answer-button {
            background: transparent;
            color: darken($correct-color, 10%);
            border-color: darken($correct-color, 10%);
        }
    }
    &.incorrect,
    &.incorrect:hover {
        .storyzy-quizz-answer-button {
            background: transparent;
            color: darken($incorrect-color, 10%);
            border-color: darken($incorrect-color, 10%);
        }
    }
}

.storyzy-quizz-answer-button {
    color: $grey-light;
    border: 1px solid $grey-dark;
    width: 26px;
    height: 26px;
    text-align: center;
}

.storyzy-quizz-hint-text a {
    color: $grey-dark;
}

.storyzy-quizz-next-text {
    background: $grey-dark;
    color: #FFF;
    &.enabled {
        background: #000;
        &:hover {
            background: #000;
        }
    }
}

.storyzy-quizz-bar-text {
    color: #000;
}

.storyzy-quizz-more-quotes-speakers>a {
    color: $grey-dark
}

.storyzy-quizz-bar-container,
.storyzy-quizz-bar {
    border-radius: 4px;
}

.storyzy-quizz-result-score-text {
    font-weight: 100;
}