
.col {
    float: left
}
.col-1 {
    width: 8.33333%
}
.col-2 {
    width: 16.66667%
}
.col-3 {
    width: 25%
}
.col-4 {
    width: 33.33333%
}
.col-5 {
    width: 41.66667%
}
.col-6 {
    width: 50%
}
.col-7 {
    width: 58.33333%
}
.col-8 {
    width: 66.66667%
}
.col-9 {
    width: 75%
}
.col-10 {
    width: 83.33333%
}
.col-11 {
    width: 91.66667%
}
.col-12 {
    width: 100%
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.flex-wrap-inherit {
    -webkit-flex-wrap: inherit;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit
}
.flex-length-1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.items-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start
}
.items-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end
}
.items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}
.self-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}
.self-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}
.self-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}
.justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}
.justify-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.content-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start
}
.content-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end
}
.content-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center
}
.storyzy-inline-block {
    display: inline-block
}
.storyzy-show {
    display: block
}
.storyzy-hide {
    display: none
}
.storyzy-content-wrapper {
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 85px;
    background-color: #FFF
}
.hidden-main {
    display: none
}
.storyzy-cursor-default {
    cursor: default
}
.storyzy-cursor-pointer {
    cursor: pointer
}
.storyzy-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fff
}
.storyzy-arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #fff
}
.storyzy-arrow {
    float: right;
    margin-top: 7px
}
@media screen and (max-width: 991px) {
    .hidden-main {
        display: inherit
    }
    .hidden-medium {
        display: none
    }
    .col-medium-1 {
        width: 8.33333333%
    }
    .col-medium-2 {
        width: 16.66666667%
    }
    .col-medium-3 {
        width: 25%
    }
    .col-medium-4 {
        width: 33.33333333%
    }
    .col-medium-5 {
        width: 41.66666667%
    }
    .col-medium-6 {
        width: 50%
    }
    .col-medium-7 {
        width: 58.33333333%
    }
    .col-medium-8 {
        width: 66.66666667%
    }
    .col-medium-9 {
        width: 75%
    }
    .col-medium-10 {
        width: 83.33333333%
    }
    .col-medium-11 {
        width: 91.66666667%
    }
    .col-medium-12 {
        width: 100%
    }
}
@media screen and (max-width: 767px) {
    .hidden-main {
        display: inherit
    }
    .hidden-medium {
        display: inherit
    }
    .hidden-small {
        display: none
    }
    .col {
        width: 100%;
        left: auto;
        right: auto
    }
    .col-small-1 {
        width: 8.33333333%
    }
    .col-small-2 {
        width: 16.66666667%
    }
    .col-small-3 {
        width: 25%
    }
    .col-small-4 {
        width: 33.33333333%
    }
    .col-small-5 {
        width: 41.66666667%
    }
    .col-small-6 {
        width: 50%
    }
    .col-small-7 {
        width: 58.33333333%
    }
    .col-small-8 {
        width: 66.66666667%
    }
    .col-small-9 {
        width: 75%
    }
    .col-small-10 {
        width: 83.33333333%
    }
    .col-small-11 {
        width: 91.66666667%
    }
    .col-small-12 {
        width: 100%
    }
    .medium-justify-start {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .fa-medium-2x {
        font-size: 1em
    }
}
@media screen and (max-width: 479px) {
    .hidden-main {
        display: inherit
    }
    .hidden-medium {
        display: inherit
    }
    .hidden-small {
        display: inherit
    }
    .hidden-tiny {
        display: none
    }
    .col {
        width: 100%
    }
    .col-tiny-1 {
        width: 8.33333333%
    }
    .col-tiny-2 {
        width: 16.66666667%
    }
    .col-tiny-3 {
        width: 25%
    }
    .col-tiny-4 {
        width: 33.33333333%
    }
    .col-tiny-5 {
        width: 41.66666667%
    }
    .col-tiny-6 {
        width: 50%
    }
    .col-tiny-7 {
        width: 58.33333333%
    }
    .col-tiny-8 {
        width: 66.66666667%
    }
    .col-tiny-9 {
        width: 75%
    }
    .col-tiny-10 {
        width: 83.33333333%
    }
    .col-tiny-11 {
        width: 91.66666667%
    }
    .col-tiny-12 {
        width: 100%
    }
    .storyzy-content-wrapper {
        padding-bottom: 100px
    }
}
