.container-most-quoted {
    border: 1px solid $grey-light;
    padding: 20px;
    .objects-list-title-text {
        @include font($weight: 100, $size: 24px);
        margin-top: 0;
        border-bottom: 1px solid $grey-light;
        padding-bottom: 14px;
        border-bottom: 1px solid #dedede;
    }
    .objects-list {
        counter-reset: item;
        padding: 0;
        list-style-type: none;
    }
    .objects-list-object {
        counter-increment: objects-item;
        margin-bottom: 5px;
        &:before {
            @include font($weight: 700, $size: 17px);
            content: counter(objects-item);
            margin-right: 10px;
            // background-color: $brand-primary;
            // color: #fff;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .objects-list-object-link {
        color: #000;
    }
}