@import "compass/css3";
@import "compass/utilities";
@import "compass/utilities/sprites";
@import "storyzy-icon-social/*.png";
@import 'vars';
@import 'mixins';
@import 'layout';
@import 'related-blocks';
@import 'storyzy-atoms';
@import 'storyzy-quizz';
@import 'top-citations';
@include all-storyzy-icon-social-sprites;
iframe {
    border: 0px !important;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #000;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.1;
    color: inherit;
}

.sidebar>div {
    margin-bottom: 30px;
}

.pub {
    text-align: center;
    margin: 0 auto;
    img,
    iframe {
        max-width: 100%;
        height: auto;
    }
}

.megaban {
    margin: 10px auto;
    &>div {
        display: table;
        margin: 0 auto;
    }
}

.title-text-h1 {
    @include font(40px);
    margin-bottom: 30px;
    text-align: center;
}

.quote-container {
    text-align: center;
}

.quote {
    border: 0;
    padding: 0;
    margin-bottom: 10px;
}

.feedback-quote {
    position: relative;
    padding: 0 45px;
    &:before,
    &:after {
        @include font($font: Arial, $size: 75px, $weight: 100);
        position: absolute;
        line-height: 60px;
        height: 20px;
    }
    &:before {
        content: "“";
        top: 0;
        left: 0px;
    }
    &:after {
        content: "”";
        right: 0px;
        bottom: 0;
    }
}

.quote-extra-info-link-text {
    @include font($weight: 700, $size: 14px);
    color: #000;
    border-bottom: 1px $brand-primary dashed;
    &:hover {
        color: $brand-primary;
        text-decoration: none;
    }
}

.date-quote {
    font-size: 12px;
    font-weight: 500;
    &:after {
        content: ' - ';
    }
}

.feedback-quote {
    @include font(17px);
}

.quote-source-link {
    margin-right: 6px;
    >a,
    >span {
        font-size: 13px;
        color: #999;
        font-weight: 500;
        text-decoration: none;
    }
}

.feedback {
    font-style: normal;
    font-size: 10px;
    color: $grey-dark;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        color: darken($grey-dark, 40%);
    }
}

.meta {
    text-align: center;
    margin-bottom: 10px;
}

.quote-share {
    @include unstyled-list;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    .item {
        margin-left: 5px;
        &:first-child {
            margin-left: 0;
        }
    }
    [class^="storyzy-icon-"],
    [class*="storyzy-"] {
        height: 25px;
        width: 25px;
        display: block;
    }
}

.last-quote {
    margin-bottom: 20px;
    .feedback-quote {
        @include font($size: 16px, $weight: 400);
        display: inline-block;
    }
    .meta {
        margin-bottom: 10px;
    }
    .quote-source-link {
        display: inline-block;
    }
}

.all-quotes-filter-container {
    padding: 30px;
    background-color: #eaeaea;
    margin-left: -15px;
    margin-bottom: 20px;
}

.quote-filter-keyword-input {
    background-color: #fff;
    color: black;
    padding: 7px 30px 7px 12px;
    height: auto;
    border: 1px solid #787878;
    border-radius: 3px;
    width: 100%;
}

.quote-filter-keyword {
    position: relative;
    max-width: 480px;
    margin: auto;
    .storyzy-icon-search {
        position: absolute;
        padding: 0;
        top: 7px;
        right: 13px;
        cursor: pointer;
    }
}

.storyzy-icon-search {
    color: #000;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 100%;
    transform: rotate(-45deg);
    &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 5px;
        height: 6px;
        width: 1px;
        background-color: currentColor;
    }
}

.all-quotes-container {
    display: flex;
    flex-wrap: wrap;
    .quote-container {
        @media(min-width: 768px) {
            width: 50%;
            min-width: 300px;
        }
        &:not(.pub) {
            padding: 15px 30px;
        }
    }
    .feedback-quote {
        padding: 0 32px;
        &:before,
        &:after {
            font-size: 53px;
            line-height: 54px;
        }
    }
}

.all-quotes-pagination {
    width: 100%;
    display: block;
    text-align: center;
}

.all-quotes-pagination-button {
    background-color: #000;
    padding: 20px;
    border-radius: 50%;
    margin: 0 auto;
    margin: 5px 0;
    display: inline-block;
    position: relative;
    height: 45px;
    width: 45px;
    cursor: pointer;
    .storyzy-icon-chevron {
        &:before {
            content: '';
            top: 19px;
            left: -10px;
            position: absolute;
            display: block;
            width: 19px;
            height: 19px;
            border-top: solid 6px #fff;
            border-left: solid 6px #fff;
            border-radius: 1px 0 0 0;
            transform-origin: right top;
            transform: rotate(-135deg);
        }
    }
}